{{! template-lint-disable no-inline-styles }}
{{#if @dropdown.isOpen}}
  <div class="ember-basic-dropdown-content-wormhole-origin">
    {{#if overlay}}
      <div class="ember-basic-dropdown-overlay"></div>
    {{/if}}

    {{#let (element "div") as |Element|}}
      <Element
        id={{this.dropdownId}}
        class="ember-basic-dropdown-content ember-basic-dropdown-content--{{@hPosition}} ember-basic-dropdown-content--{{@vPosition}} {{this.animationClass}}{{if @renderInPlace " ember-basic-dropdown-content--in-place"}} {{@defaultClass}}"
        style={{this.style}}
        dir={{@dir}}
        ...attributes>
        {{yield}}
      </Element>
    {{/let}}
  </div>
{{else}}
  <div id={{dropdownId}} class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
{{/if}}
