{{computedFilter}}

<input
  class="select-box-kit-offscreen"
  type="text"
  aria-haspopup="true"
  role="button"
  aria-labelledby="select-box-kit-offscreen-{{elementId}}"
  tabindex={{tabindex}}
  name={{name}}
  value={{computedValue}}
  readonly=true
/>

{{component headerComponent
  none=computedNone
  isFocused=isFocused
  isExpanded=isExpanded
  selectedContent=selectedContent
  onToggle=(action "onToggle")
  onFilter=(action "onFilter")
  onClearSelection=(action "onClearSelection")
  options=headerComponentOptions
}}

<div class="select-box-kit-body">
  {{component filterComponent
    onFilter=(action "onFilter")
    icon=filterIcon
    filterable=computedFilterable
    isFocused=isFocused
    placeholder=(i18n filterPlaceholder)
    tabindex=tabindex
    _filter=_filter
  }}

  {{#if shouldRenderBody}}
    {{#each sections as |section sectionIndex|}}
      {{component collectionComponent
        section=sectionIndex
        rows=section
        rowComponent="select-box-kit/select-box-kit-row"
        selectedIndexPaths=selectedIndexPaths
        highlightedIndexPaths=highlightedIndexPaths
        onUnHighlightRow=(action "onUnHighlightRow")
        onHighlightRow=(action "onHighlightRow")
        onSelectRow=(action "onSelectRow")
        onClearSelection=(action "onClearSelection")
      }}
    {{/each}}
  {{/if}}

  {{!-- <p>srow: {{selectedIndexPaths.firstObject.row}}</p>
  <p>ssection: {{selectedIndexPaths.firstObject.section}}</p>
  <p>hrow: {{highlightedIndexPaths.firstObject.row}}</p>
  <p>hsection: {{highlightedIndexPaths.firstObject.section}}</p> --}}
</div>

<div class="select-box-kit-wrapper"></div>
