<input
  class="select-box-kit-offscreen"
  type="text"
  aria-haspopup="true"
  role="button"
  aria-labelledby="select-box-kit-offscreen-{{elementId}}"
  tabindex={{tabindex}}
  name={{name}}
  value={{computedValue}}
  readonly=true
/>

{{component headerComponent
  isFocused=isFocused
  isExpanded=isExpanded
  selectedContent=selectedContent
  onToggle=(action "onToggle")
  onClearSelection=(action "onClearSelection")
  options=headerComponentOptions
}}

<div class="select-box-kit-body">
  {{component filterComponent
    onFilter=(action "onFilter")
    icon=filterIcon
    filterable=computedFilterable
    isFocused=isFocused
    placeholder=(i18n filterPlaceholder)
    tabindex=tabindex
    _filter=_filter
  }}

  {{#if shouldRenderBody}}
    <div class="select-box-kit-collections">
      {{#if shouldDisplayNoneRow}}
        {{component collectionComponent
          rowComponent="select-box-kit/select-box-kit-none-row"
          onClearSelection=(action "onClearSelection")
        }}
      {{/if}}
      {{#each sections as |section sectionIndex|}}
        {{component collectionComponent section=section sectionIndex=sectionIndex}}
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="select-box-kit-wrapper"></div>
