{{#if section.rows}}
  {{#each section.rows as |row|}}
    {{{row}}}
  {{else}}
    {{#if section.noContentLabel}}
      <li class="select-box-kit-row no-content">
        {{i18n section.noContentLabel}}
      </li>
    {{/if}}
  {{/each}}
{{else}}
  {{component rowComponent onClearSelection=onClearSelection}}
{{/if}}
